@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,400);
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.right {
  float: right !important;
}

.fullRow {
  width: 100%;
  float: left;
}

.row {
  width: 100%;
  float: left;
  background: #fff;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  float: left;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.3333333333%;
}

.col-xs-2 {
  width: 16.6666666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.3333333333%;
}

.col-xs-5 {
  width: 41.6666666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.3333333333%;
}

.col-xs-8 {
  width: 66.6666666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.3333333333%;
}

.col-xs-11 {
  width: 91.6666666667%;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1220px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
/* ------------------------------------------
Grid
-------------------------------------------*/
.fullRow, .row,
.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}

.fullRow {
  float: left;
}

/* Global Styles */
body {
  color: #242b3b;
  background-color: #e46a5d;
  line-height: 1.2;
  font-size: 16px;
  font-family: "Open Sans", Futura, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #242b3b;
  text-transform: none;
  font-family: "Open Sans";
  letter-spacing: 2px;
  font-weight: 100;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #242b3b;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 16px -2;
}

h5 {
  font-size: 16px -4;
}

a {
  color: #e46a5d;
  text-decoration: none;
}
ahover {
  color: #e46a5d;
  text-decoration: underline;
}

.menu {
  padding: 10px 0px;
  font-family: "Open Sans";
  list-style: none;
}
.menu li a {
  padding: 10px 0px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
.menu li a:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .loader {
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #e46a5d;
    transition: all 01s;
    z-index: 9999;
  }
  .loader .icon {
    left: 73px;
    top: 10px;
    font-size: 36px;
    position: absolute;
    color: #fff;
  }
  .loader.loaded {
    opacity: 0;
    z-index: -1;
  }
}

#main {
  background: #6ebec5;
  padding: 20px;
  padding-bottom: 80px;
  padding-left: 220px;
  display: inline-block;
  width: 100%;
  min-height: 100%;
  transition: all 0.5s;
  border: #e46a5d 5px solid;
}
@media (max-width: 1023px) {
  #main {
    padding-left: 20px;
    padding-top: 80px;
  }
}
@media (min-width: 1024px) {
  #main {
    opacity: 1;
  }
}

.button {
  display: block;
  transition: all 0.5s;
  height: 50px;
  padding: 0px 20px;
  line-height: 50px;
  text-transform: uppercase;
  background: #e46a5d;
  color: #fff;
  border: 0px;
  font-size: 15px;
}
.button.inline, .summary .button {
  height: 36px;
  padding: 0px 20px;
  line-height: 36px;
  margin-top: 10px;
}

.content {
  float: left;
  width: 100%;
}

date {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 600;
  color: #5e709a;
  display: block;
}

h1, h2, h3, h4, h5, h6, p, img, date, ul, li, blockquote {
  margin-bottom: 20px;
  text-align: left;
}

h1 {
  margin-top: 23px;
  background: #f6f6f6;
  width: 100%;
}
@media (max-width: 767px) {
  h1 {
    font-size: 22px;
  }
}
h1 span {
  color: #e46a5d;
}

h2 {
  width: 100%;
  text-align: left;
}

.entry-content p span {
  float: right;
  width: 100%;
  padding: 0px 0px 10px;
  display: inline-block;
}

.alignleft {
  float: left;
  margin: 0px 20px 20px 0px;
}

.alignright {
  float: left;
  margin: 0px 20px 20px 0px;
}

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  padding: 20px;
  height: 100%;
  background: #e46a5d;
  list-style: none;
  transition: all 0.5s;
  z-index: 99;
}
#navbar .menu-toggle {
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: all 0.5s;
}
#navbar h1 {
  background: #e46a5d center center no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  text-indent: -9999px;
  margin-top: 0px;
}
#navbar #menu-main,
#navbar .icon-menu {
  list-style: none;
}
#navbar #menu-main li,
#navbar .icon-menu li {
  float: left;
  width: 100%;
}
#navbar #menu-main li a,
#navbar .icon-menu li a {
  float: left;
  width: 100%;
  position: relative;
  cursor: pointer;
  color: #fff;
}
#navbar #menu-main a:after {
  position: absolute;
  top: center;
  right: 0px;
  content: '>';
  transition: right 0.5s;
}
#navbar #menu-main a:hover:after {
  right: -5px;
}
#navbar .icon-menu li {
  width: 25%;
  height: 32px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}
#navbar .icon-menu li .houzz {
  background: url(../img/houzz.png) center center no-repeat;
  height: 25px;
  background-size: contain;
}
@media (max-width: 1023px) {
  #navbar {
    position: fixed;
    float: left;
    width: 100%;
    height: 60px;
    padding: 0px;
    z-index: 9;
    /* active state, i.e. menu open */
  }
  #navbar .menu-toggle {
    opacity: 1;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  #navbar .menu-toggle:focus {
    outline: none;
  }
  #navbar .menu-toggle span {
    display: block;
    position: absolute;
    top: 29px;
    left: 18px;
    right: 18px;
    height: 2px;
    background: #fff;
  }
  #navbar .menu-toggle span::before,
  #navbar .menu-toggle span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    content: "";
  }
  #navbar .menu-toggle span::before {
    top: -11px;
  }
  #navbar .menu-toggle span::after {
    bottom: -11px;
  }
  #navbar .menu-effect {
    background-color: #e46a5d;
  }
  #navbar .menu-effect span {
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }
  #navbar .menu-effect span::before {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
    transition: transform 0.3s, width 0.3s, top 0.3s;
  }
  #navbar .menu-effect span::after {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
    transition: transform 0.3s, width 0.3s, bottom 0.3s;
  }
  #navbar .menu-effect.active {
    background-color: #bc2e1f;
  }
  #navbar .menu-effect.active span {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #navbar .menu-effect.active span::before,
  #navbar .menu-effect.active span::after {
    width: 50%;
  }
  #navbar .menu-effect.active span::before {
    top: 0;
    -webkit-transform: translateX(14px) translateY(1px) rotate(45deg);
            transform: translateX(14px) translateY(1px) rotate(45deg);
  }
  #navbar .menu-effect.active span::after {
    bottom: 0;
    -webkit-transform: translateX(14px) translateY(-1px) rotate(-45deg);
            transform: translateX(14px) translateY(-1px) rotate(-45deg);
  }
  #navbar h1 {
    float: left;
    width: 150px;
    height: 60px;
  }
  #navbar .slide {
    position: fixed;
    left: -150px;
    top: 0px;
    bottom: 0;
    right: 0;
    z-index: 9;
    width: 150px;
    padding: 20px;
    padding-top: 79px;
    height: 100%;
    background: #e46a5d;
    list-style: none;
    transition: all 0.5s;
  }
  #navbar .slide.active {
    left: 0px;
  }
}

#footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 60px;
  background: #e46a5d;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  color: #fff;
}
#footer a {
  color: #fff;
  text-decoration: underline;
}
@media (max-width: 1023px) {
  #footer {
    font-size: 12px;
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  #footer {
    opacity: 1;
  }
}

/* Articles */
